To perform the EDA we need to type several lines of code. 
Here auto-visualization library comes into the play, 
which can perform all these tasks using just 1 line of code. 
Some of these auto-visualization tools are:

1. Pandas-Profiling
2. Sweetviz
3. Autoviz
4. D-Tale

### In this Notebook will discuss about Sweetviz

In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.4-py3-none-any.whl (15.1 MB)
Collecting importlib-resources>=1.2.0
  Downloading importlib_resources-5.9.0-py3-none-any.whl (33 kB)
Requirement already satisfied: matplotlib>=3.1.3 in c:\users\use\anaconda3\lib\site-packages (from sweetviz) (3.5.1)
Requirement already satisfied: tqdm>=4.43.0 in c:\users\use\anaconda3\lib\site-packages (from sweetviz) (4.64.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\use\anaconda3\lib\site-packages (from sweetviz) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\use\anaconda3\lib\site-packages (from sweetviz) (1.7.3)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\use\anaconda3\lib\site-packages (from sweetviz) (2.11.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in c:\users\use\anaconda3\lib\site-packages (from sweetviz) (1.4.2)
Requirement already satisfied: zipp>=3.1.0 in c:\users\use\anaconda3\lib\site-packages (from importlib-resources>=1.2.0->sweetviz) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\use\anaconda3\lib\site-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\use\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\use\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (9.0.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\use\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\use\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\use\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\use\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\use\anaconda3\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\use\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\use\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Requirement already satisfied: colorama in c:\users\use\anaconda3\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.4)
Installing collected packages: importlib-resources, sweetviz
Successfully installed importlib-resources-5.9.0 sweetviz-2.1.4

In [1]:
import pandas as pd
import sweetviz as sv

In [4]:
df = pd.read_csv('Visadataset.csv')
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [6]:
my_report = sv.analyze(df)
my_report.show_html()

                                             |                                             | [  0%]   00:00 ->â€¦

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.